<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../vendors/semantic/semantic.min.css">
  <link rel="stylesheet" href="../css/main.css">
  
  <script src="https://storage.googleapis.com/prshim/v1/payment-shim.js"></script>
  <title>Document</title>
</head>

<body>
  <header class="ui menu">
    <div class="ui container">
      <a class="header item" href="../index.html">
        Branding
      </a>
      <a class="item">
        About Us
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="item">
          <div class="ui primary button">Login</div>
        </div>
        <div class="item">
          <div class="ui vertical  button" tabindex="0">
            <div class="visible content">
              <i class="shop icon"></i>
              <div class="ui red circular small label" id="quantity-selected">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="ui vertical">
      <br>
      <div class="ui grid container stackable">
        <div class="sixteen wide column">
          <h3 class="ui horizontal header divider">
            Carrito de compras
          </h3>
          <br>
          <table class="ui fixed table">
            <thead>
              <tr>
                <th colspan="2">Productos</th>
                <th>Dirección</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row-product">
                <td>
                  <div class="product-car">
                    <img src="../assets/images/cocina_alabama.jpeg" alt="">
                  </div>
                </td>
                <td>
                  <a href="./verProducto.html?product_id=1">Cocina de mesa 2 quemadores Alabama I</a>
                  <p>
                    Marca:
                    <b>Samsung</b>
                  </p>
                </td>
                <td>Miraflorex Calle: X-144</td>
                <td>
                  <div class="quantity">
                    <input type="number" min="1" max="9" step="1" value="1">
                    <div class="quantity-nav">
                      <div class="quantity-button quantity-up">
                        <b>+</b>
                      </div>
                      <div class="quantity-button quantity-down">
                        <b>-</b>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="unit-price">
                  <b>S/. <span>69.90</span></b>
                </td>
                <td class="total-price">
                  <b>S/. <span>69.90</span></b>
                </td>
                <td>
                  <div class="ui left floated main menu">
                    <a class="bug popup icon item" data-content="Edit This Page">
                      <i class="trash icon"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr class="row-product">
                <td>
                  <div class="product-car">
                    <img src="../assets/images/televisor_samsung.jpeg" alt="">
                  </div>
                </td>
                <td>
                  <a href="./verProducto.html?product_id=1">Televisor Smart LED Full HD 40" UN40J5200</a>
                  <p>
                    Marca:
                    <b>Samsung</b>
                  </p>
                </td>
                <td>Miraflorex Calle: X-144</td>
                <td>
                  <div class="quantity">
                    <input type="number" min="1" max="9" step="1" value="1">
                    <div class="quantity-nav">
                      <div class="quantity-button quantity-up">
                        <b>+</b>
                      </div>
                      <div class="quantity-button quantity-down">
                        <b>-</b>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="unit-price">
                  <b>S/. <span>999</span></b>
                </td>
                <td class="total-price">
                  <b>S/. <span>999</span></b>
                </td>
                <td>
                  <div class="ui left floated menu">
                    <a class="bug popup icon item" data-content="Edit This Page">
                      <i class="trash icon"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="ui raised segment">
            <h4 class="ui header">Resumen de tu cuenta</h4>
            <div class="ui grid container">
              <div class="ui eight wide column">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.
              </div>
              <div class="ui eight wide column">
                <table class="ui fixed table">
                  <tbody>
                    <tr>
                      <td>
                        <b>Subtotal:</b>
                      </td>
                      <td id="subtotal">
                        S/.<span>0</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>IGV (18%)</b>
                      </td>
                      <td id="igv">
                        S/.<span>0</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Total</b>
                      </td>
                      <td>
                        <h4 class="ui blue header" id="total-amount">S/.<span>0</span></h4>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <button class="fluid ui teal teal button" id="to-pay"><i class="shop icon"></i>Comprar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../vendors/semantic/semantic.min.js"></script>
  <script src="../js/functions.js"></script>
  <script src="../js/verProducto.js"></script>
  <script src="../js/carrito.js"></script>
</body>

</html>