<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../vendors/semantic/semantic.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <!-- <script src="https://storage.googleapis.com/prshim/v1/payment-shim.js"></script> -->
  <title>Document</title>
</head>

<body>
  <header class="ui menu">
    <div class="ui container">
      <a class="header item" href="../index.html">
        Branding
      </a>
      <a class="item">
        About Us
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="item">
          <div class="ui primary button">Login</div>
        </div>
        <a class="item" href="./carrito.html">
          <div class="ui vertical  button" tabindex="0">
            <div class="visible content">
              <i class="shop icon"></i>
              <div class="ui red circular small label">0</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </header>
  <main>
    <section class="ui vertical">
      <br>
      <div class="ui grid container stackable">
        <div class="sixteen wide column">
          <h3 class="ui horizontal header divider">
            Producto Indivual
          </h3>
        </div>
        <div class="ui eight wide column">
          <div class="ui fluid image">
            <img src="../assets/images/cocina_alabama.jpeg">
          </div>
        </div>
        <div class="ui eight wide column">
          <h3 class="ui header">
            Cocina de mesa 2 quemadores Alabama I
            <div class="sub header details-product">
              <span>
                Marca:
                <b>Samsung</b>
              </span>
              <span>
                SKU 1
              </span>
            </div>
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laboriosam, sunt facere itaque ea qui ad possimus dolor adipisci
            magnam tempore? Minus ad quos cupiditate? Veniam exercitationem officiis dolore corporis!
          </p>
          <!-- EDITANTO CLASE PARA JALAR EL PRECIO -->
          <h2 class="ui header">
            S/.
            <span class="amount-product">69.90</span>
            <div class="sub header">Manage your account settings and set e-mail preferences.</div>
          </h2>
          <br>
          <div class="quantity">
            <h5>Cantidad</h5>
            <input type="number" min="1" max="9" step="1" value="1">
            <div class="quantity-nav">
              <div class="quantity-button quantity-up">
                <b>+</b>
              </div>
              <div class="quantity-button quantity-down">
                <b>-</b>
              </div>
            </div>
          </div>
          <div class="ui blue labeled icon button to-pay">
            Agregar al carrito
            <i class="add icon"></i>
          </div>
        </div>
      </div>
    </section>
  </main>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../vendors/semantic/semantic.min.js"></script>
  <script src="../js/functions.js"></script>
  <script src="../js/verProducto.js"></script>
</body>

</html>