/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for navbar */

/* Style for main */

.display {
  display: inline-block;
  cursor: pointer;
}

.padding {
  padding: 0;
}

.margin {
  margin: 3.3rem;
}

[alt="title"] {
  width: 8rem;
  height: 8rem;
}

.selection:hover, .selection:active {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.container-laptop {
  margin-top: 5rem;
  background-color: #f7f7f7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 965px) {
  [alt="title"] {
    width: 15rem;
    height: 15rem;
  }
}