*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:Raleway,sans-serif;
  background-color: rgb(253, 235, 235);
}

.logo{
  height: 5rem;
}

.fa-shopping-cart, .fa-user-circle{
  color: white;
  font-size: 1.8rem;
  margin-left: 4%;
}
.navbar-collapse{
  margin-top: 4%;
}
#hom{
margin-left: 2%;
}

.d-block{
 width: 100%;
 margin:6.5%;
}

footer {
  padding: 25px 0;
  margin-top: 1%;
}
footer p {
  margin: 0;
}
.footer{
  background-color: #292829;
  color:white;
}
.copy{
  font-size: 10px;
}

/*phones*/
@media (min-width: 0) and (max-width: 767px) {
 
  footer {
    padding: 25px 0;
    margin-top: 6%;
  }
  .d-block{
    margin-top: 5%;
   }
}
